{{!-- Login form --}}
<div class="container min-vh-100">
  <div class="row h-100 m-0 justify-content-center align-content-center">
    <div style="max-width: 500px;" class="col col-sm-10 col-md-8 col-lg-7 bg-body-tertiary border rounded">
      <h1>Restablece tu contraseña</h1>
      <p>Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña</p>
      <form id="formResetPassInit" class="mb-0 needs-validation" action="/api/sessions/passwordresetinit" method="post" novalidate>
        <div class="mb-3">
          <label for="inputEmail" class="form-label mb-0">Correo electrónico</label>
          <input name="email" type="email" class="form-control" id="inputEmail" required>
          <div class="invalid-feedback mt-0">El correo electrónico no es válido.</div>
        </div>
        <div class="d-flex justify-content-end pb-2">
          <button id="btnSubmit" type="submit" class="btn btn-primary">
            <span id="btnSubmitSpinner" class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"></span>
            <span id="btnSubmitText" >Enviar</span>
          </button>
        </div>
      </form>
      <hr class="border border-primary opacity-75">
      <p class="mb-1">¿Recordaste tu contraseña? <a href="/login" class="link-underline-primary">Ingresa a tu cuenta</a></p>
      <p class="mb-1">¿No tienes cuenta aún? <a href="/logup" class="link-underline-primary">Regístrate aquí</a></p>
    </div>
  </div>
</div>

{{!-- Info modal --}}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          {{!-- modal title message --}}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="staticBackdropBody" class="modal-body">
        {{!-- modal body message --}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/forgotPassword.js"></script>