<h1>Olvidé mi contraseña</h1>
<p>Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña</p>
<form id="forgotPasswordForm" action="/api/sessions/passwordresetinit" method="post">
  <input id="email" type="email" placeholder="Correo electrónico" name="email" />
  <br />
  <br />
  <input type="submit" value="Enviar">
</form>
<p>Recordaste tu contraseña? <a href="/login">Ingresa</a></p>
<p>No tienes cuenta aún? <a href="/logup">Regístrate</a></p>

<script src="/js/passwordReset.js"></script>