{{!-- Login form --}}
<div class="container d-flex min-vh-100">
  <div class="row w-100 justify-content-center align-content-center">
    <div class="col col-sm-8 col-md-6 col-lg-5 col-xl-5 col-xxl-4 bg-body-tertiary border rounded">
      <h1>Ingresa a tu cuenta</h1>
      <form id="formLogin" class="mb-0 needs-validation" novalidate>
        <div class="mb-3">
          <label for="inputEmail" class="form-label mb-0">Correo electrónico</label>
          <input name="email" type="email" class="form-control" id="inputEmail" required>
          <div class="invalid-feedback mt-0">El correo electrónico no es válido.</div>
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label mb-0">Contraseña</label>
          <input name="password" type="password" class="form-control" id="inputPassword" pattern="^(?=.*[A-zÀ-ž])(?=.*[0-9]).{8,}$" required>
          <div class="invalid-feedback mt-0">La contraseña no es válida.</div>
        </div>
        <div class="d-flex justify-content-end pb-2">
          <button id="btnSubmit" type="submit" class="btn btn-primary">
            <span id="btnSubmitSpinner" class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"></span>
            <span id="btnSubmitText" >Ingresar</span>
          </button>
        </div>
      </form>
      <hr class="border border-primary opacity-75">
      <p class="mb-2 text-center">O ingresar con: </p>
      <p class="mb-2 text-center"><a href="/api/sessions/github" class="link-dark fs-3" title="GitHub"><i class="bi bi-github"></i></a></p>
      <hr class="border border-primary opacity-75">
      <p class="mb-1">¿Olvidaste tu contraseña? <a href="/forgotPassword" class="link-underline-primary">Ingresa aquí</a></p>
      <p class="mb-1">¿No tienes cuenta aún? <a href="/logup" class="link-underline-primary">Regístrate aquí</a></p>
    </div>
  </div>
</div>

{{!-- Error modal --}}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Inicio de sesión fallido</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Alguno de los datos ingresados es incorrecto. Por favor, vuelve a intentarlo.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>