<h1>Registrarse</h1>
<form action="/api/sessions/logup" method="post">
  <input type="text" placeholder="Nombre" name="firstName" />
  <input type="text" placeholder="Apellido" name="lastName" />
  <input type="email" placeholder="Correo electrónico" name="email" />
  <input type="password" placeholder="Contraseña" name="password" />
  <input type="number" placeholder="Edad" name="age" />
  <br />
  <br />
  <input type="submit" value="Registrarse">
</form>
<p>Ya tienes cuenta? <a href="/login">Ingresa</a></p>

<script src="/js/logup.js"></script>