<h1>Restablecer contraseña</h1>
<form id="passwordResetForm" autocomplete="off">
  <input id="email" type="email" name="email" value="{{email}}" readonly="readonly"/>
  <input id="token" type="hidden" name="token" value="{{token}}">
  <input id="newPassword" type="password" placeholder="Nueva Contraseña" name="newPassword" autocomplete="new-password" />
  <br />
  <br />
  <input type="submit" value="Restablecer">
</form>

<script src="/js/passwordReset.js"></script>