{{!-- Pass reset form --}}
<div class="container min-vh-100">
  <div class="row h-100 m-0 justify-content-center align-content-center">
    <div style="max-width: 400px;" class="col col-sm-8 col-md-6 bg-body-tertiary border rounded">
      <h1>Ingresa tu nueva contraseña</h1>
      <form id="formPasswordReset" autocomplete="off" class="mb-0 needs-validation" novalidate>
        <input id="token" type="hidden" name="token" value="{{token}}">
        <div class="mb-3">
          <label for="inputEmail" class="form-label mb-0">Correo electrónico</label>
          <input id="inputEmail" name="email" type="email" value="{{email}}" readonly="readonly" class="form-control disabled" required>
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label mb-0">Nueva contraseña</label>
          <input id="inputPassword" name="newPassword" type="password" class="form-control" pattern="^(?=.*[A-zÀ-ž])(?=.*[0-9]).{8,}$" required autocomplete="new-password"/>
          <div class="invalid-feedback mt-0">Debe contener al menos 8 caracteres. Debe contener al menos una letra y un número</div>
        </div>
        <div class="mb-3">
          <label for="inputRepeatPassword" class="form-label mb-0">Repite tu nueva contraseña</label>
          <input id="inputRepeatPassword" name="repeatPassword" type="password" class="form-control" required autocomplete="new-password"/>
          <div class="invalid-feedback mt-0">La contraseña no coincide.</div>
        </div>
        <div class="d-flex justify-content-end pb-2">
          <button id="btnSubmit" type="submit" class="btn btn-primary">
            <span id="btnSubmitSpinner" class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"></span>
            <span id="btnSubmitText" >Enviar</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{{!-- Info modal --}}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          {{!-- modal title message --}}
        </h1>
      </div>
      <div id="staticBackdropBody" class="modal-body">
        {{!-- modal body message --}}
      </div>
      <div class="modal-footer">
        <a id="closeModalBtn" href="" type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</a>
      </div>
    </div>
  </div>
</div>

{{!-- <h1>Restablecer contraseña</h1>
<form id="passwordResetForm" autocomplete="off">
  <input id="email" type="email" name="email" value="{{email}}" readonly="readonly"/>
  <input id="token" type="hidden" name="token" value="{{token}}">
  <input id="newPassword" type="password" placeholder="Nueva Contraseña" name="newPassword" autocomplete="new-password" />
  <br />
  <br />
  <input type="submit" value="Restablecer">
</form> --}}

<script src="/js/passwordReset.js"></script>